body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    width: 100%;
}

h1 {
    font-size: 4em;
    font-family: 'Jersey 10', sans-serif;
    color: #ffffff;
}

.tagline {
    font-size: 1.2em;
    margin-top: 10px;
    color: #ffffff;
}

.credit {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #ffffff;
    font-size: 0.8em;
    z-index: 1;
}

.credit a {
    color: #ffffff;
    text-decoration: underline;
}

.credit a:hover {
    text-decoration: none;
}

.social-icons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.social-logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
    transition: transform 0.3s ease;
    margin-left: 0;
    margin-right: 0;
}

.social-logo.github-logo {
    width: 60px !important;
    height: 60px !important;
}

.social-logo.x-logo,
.social-logo.email-logo {
    width: 50px; 
    height: 50px;
}

.error-message {
    font-size: 1.5em;
    color: #ffcccb; /* Light red color */
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    font-family: 'Jersey 10', sans-serif;
}

.home-button {
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    background-color: #FAD6A5; /* Green button */
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Jersey 10', sans-serif;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.home-button:hover {
    background-color: #45a049; /* Darker green on hover */
    transform: translateY(-3px); /* Slight raise effect */
}

.home-button:active {
    background-color: #388E3C; /* Even darker when active */
    transform: translateY(0); /* Return to original position */
}

.seo-button-container {
    margin-top: 20px;
    text-align: center;
}

.seo-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff9900; /* Change to your preferred color */
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.seo-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}