
.header {
    padding: 80px; /* some padding */
    text-align: center; /* Center the header text */
    background: #7de95c; /* Set page colour */
    color: black; /* Black text colour */
  }

  /* Increase the font size of the <h1> element */
.header h1 {
    font-size: 50px;
  }